* {
  font-family: "Comfortaa", cursive;
  /* background-color: #f7f7f5; */
}

.navbar {
  background-color: #f7f7f5 !important;
}

.navbar-brand img {
  width: 45px;
}

.navbar-nav a {
  /* color: #00ccff !important; */
  margin-right: 25px;
}

.navbar-nav a:hover {
  text-decoration: underline;
  font-weight: 700;
}

#home {
  height: 500px;
  background-color: #f7f7f5 !important;
}

#home h1 {
  font-size: 70px;
  font-weight: bold;
}

#home img {
  width: 600px;
}

#home a {
  text-decoration: none;
  color: #00ccff;
  font-size: 20px;
}

#home a:hover {
  text-decoration: underline;
}

#aboutme {
  height: 400px;
  padding-top: 90px;
  background-color: #f7f7f5 !important;
}

#aboutme img {
  width: 300px;
}

#aboutme p {
  text-align: justify;
}

#aboutme a {
  text-decoration: none;
  color: #00ccff;
  font-weight: 700;
}

#aboutme a:hover {
  text-decoration: underline;
}

#aboutme h1 {
  font-size: 80px;
  font-weight: 700;
  color: rgb(212, 233, 247);
}

#aboutme h2 {
  margin-top: -60px;
  margin-bottom: 15px;
  margin-left: 30px;
  font-weight: 700;
  font-size: 40px;
}

#services {
  height: 400px;
  padding-top: 90px;
  background-color: #f7f7f5 !important;
}

#services h1 {
  font-size: 80px;
  font-weight: 700;
  color: rgb(212, 233, 247);
}

#services h2 {
  margin-top: -55px;
  margin-bottom: 15px;
  margin-left: 50px;
  font-weight: 700;
  font-size: 40px;
}

#services img {
  width: 300px;
  margin-bottom: 10px;
}

#services h5 {
  font-weight: 700;
}

#portfolio {
  height: 400px;
  padding-top: 180px;
  background-color: #f7f7f5 !important;
}

#portfolio h1 {
  font-size: 80px;
  font-weight: 700;
  color: rgb(212, 233, 247);
}

#portfolio h2 {
  margin-top: -55px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 40px;
}

#portfolio .ava img {
  width: 65px;
}

#portfolio .ava p {
  text-align: justify;
}

#portfolio .user {
  font-size: 12px;
}

#contact {
  background-color: #f7f7f5 !important;
  height: 830px;
  padding-top: 250px;
}

#contact h1 {
  font-size: 80px;
  font-weight: 700;
  color: rgb(212, 233, 247);
}

#contact h2 {
  margin-top: -55px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 40px;
}

#contact img{
  width: 300px;
}


#footer1 {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 15%;
  padding-left: 15%;
  background-color: #b2edfc !important;
}


#footer1 a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

#footer1 a:hover {
  text-decoration: underline;
}

#footer1 img{
  width: 60px;
}

#footer2 {
  height: 200px;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-right: 15%;
  padding-left: 15%;
  background-color: #00ccff !important;
  color: white;
}

#footer2 h1 {
  font-size: 100px;
  font-weight: 700;
}
